@import '../../styles/mixins';
@import '../../styles/variables';

.audio-player {
  display: flex;
  align-items: center;
  background-color: #EAF0FAFC;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;


}

.audio-player__button-download {
  @include icon-default;
  margin-right: 15px;
}

.audio-player__button-close {
  @include icon-default;
}

.audio-player__duration {
  font-size: 16px;
  color: #0c1532;
  margin-left: 10px;
}


.audio-player__play-pause {
  @include icon-default;
  cursor: pointer;
  margin-left: 10px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.audio-player__progress-container {
  width: 164px;
  position: relative;
  height: 6px;
  background-color: #cbd6f1;
  border-radius: 3px;
  flex-grow: 1;
  cursor: pointer;
  margin: 0 10px;

  .progress {
    background-color: #0056ff;
    height: 100%;
    border-radius: 3px;
  }

  .hover-time {
    position: absolute;
    font-size: 14px;
    white-space: nowrap;
    transform: translateX(-50%);
  }
}